select#league-selector {
  background: #f8f8f2;
  border: none;
}
.options-container {
  width: 500px;
}
.header {
  height: 22px;
  background-color: #1D7225;
  color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 1px;
  line-height: 22px;
  text-align: center;
}
.container {
  background-color: #F2F2E8;
  color: black;
}
.container-row {
  padding: 5px;
  overflow: hidden;
  transition: max-height .25s linear;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px;
}
th.label-header {
  text-align: right;
  width: 140px;
}
tr td:first-child {
  text-align: right;
}
td input[type="number"] {
  width: 50px;
}
td input {
  text-align: center;
  width: 94%;
  margin-left: 5%;
}
.sub-header {
  height: 16px;
  background-color: #6DBB75;
  color: white;
  font-size: 12px;
  padding: 5px;
  user-select: none;
  margin-bottom: 1px;
}
.category.inactive > .container-row {
  max-height: 0px !important;
  padding: 0px;
}
.category.active > .sub-header {
  margin-bottom: 0px;
  background: #1D7225;
}
.category > .sub-header {
  cursor: pointer;
}
.button-container {
  text-align: right;
  margin-top: 0px;
  height: 22px;
  background-color: #1D7225;
  color: white;
  padding: 5px;
  border-radius: 0px 0px 4px 4px;
  line-height: 22px;
}
#league-selector {
  display: inline-block;
}
.category .accordian-icon::before {
  content: "-";
}
.category.inactive .accordian-icon::before {
  content: "+";
}
table#sacko-override tr td select{
  width: 100%;
  background: #f8f8f2;
}
table#sacko-override tr td {
  text-align: center;
}
.leader-board-options td input {
  text-align: center;
  width: 90%;
  margin-left: 5%;
}
td input[type="checkbox"] {
  text-align: left;
  text-indent: 20px;
  line-height: 12px;
}
td input[type="checkbox"]::before {
  content: 'DISABLED';
}
td input[type="checkbox"]:checked::before {
  content: 'ENABLED';
}
